* {
    font-family: "Courier Prime", serif;
}

* {
    background: #272528;
}

* {
    color: white;
}

/* HEADER */

header {
    display: flex;
    align-items: baseline;
}

#logo {
    font-weight: 300;
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background: #5b5e63;
    color: black;
    display: inline-block;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

li {
    margin-left: 3rem;
}

a {
    color: white;
}

@media screen and (max-width:650px) {
    header, ul {
        flex-direction: column;
    }
    ul {
        margin-top: 0;
    }

    li {
        margin-left: 0;
    }
}

/* MAIN */

.home-image {
    width: 60%;
    border-radius: 1rem;
    border-color:#abb3f2;
}

/* CATEGORY SECTION */

figure {
    margin-left: 0;
    grid-area: img;
}

.category-image {
    width: 100%;
    border-radius: 0.7rem;
}

h1 {
    margin-bottom: 0.4rem;
    color: #abb3f2;
    animation-name: shake;
    animation-duration: 1.5s;
    animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes shake {
    10% {
        transform:scaleY(70%);
    }

    15% {
        transform:scaleY(120%);
    }

    40% {
        transform:translateY(-10px);
    }
}

.contact-info {
    margin: 0.3rem;
}

@media screen and (min-width: 651px) {
    .category-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .category-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* FOOTER */

.footer {
    background: #5b5e63;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 3px;;
    color: black;
}
